---
import { twMerge } from 'tailwind-merge';
import { getGitInfo } from './get-git-info'

interface Props {
	className?: string;
	title: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="en" style={{ '--git-info': `'${await getGitInfo()}'` }}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={twMerge('my-4 mx-auto px-4 max-w-screen-lg print:max-w-none print:px-0', className)}>
		<div class="version-header">
			<span class="gitVersion"></span>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	html {
		background: white;
		color: black;
	}

	@page {
		margin: 1in;
	}
	.version-header {
		font-size: 0.75rem;
		opacity: 0.5;
		display: flex;
		flex-flow: row;
		justify-content: end;
	}
	.gitVersion::after {
		content: 'unknown';
		content: var(--git-info);
	}
</style>
