---
import { twMerge } from 'tailwind-merge';
import { getGitInfo } from './get-git-info'

interface Props {
	className?: string;
	title: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={twMerge('my-4 mx-auto max-w-screen-lg print:max-w-none', className)}>
		<slot />
	</body>
	<div class="divFooter">
		<span class="gitVersion"
		style={{ '--git-info': `'${await getGitInfo()}'` }}></span>
	</div>
</html>
<style is:global>
	html {
		background: white;
		color: black;
	}

	@page {
		margin: 0.5in;
	}
	/* @media screen {
		div.divFooter {
			display: none;
		}
	} */
	@media print {
		div.divFooter {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.divFooter {
		display: flex;
		flex-flow: row;
		justify-content: end;
	}
	.gitVersion::after {
		font-size: 0.75rem;
		opacity: 0.5;
		content: 'unknown';
		content: var(--git-info);
	}
</style>
