---
import { twMerge } from 'tailwind-merge';

interface Props {
	className?: string;
	title: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={twMerge('my-4 mx-auto max-w-screen-lg print:max-w-none', className)}>
		<slot />
	</body>
</html>
<style is:global>
	html {
		background: white;
		color: black;
	}

	@page {
		margin: 0.5in;
	}
</style>
