ol.subsectionNumbering {
    --indentSize: 3rem;
    --paddingSize: 3rem;
    counter-reset: item;
    margin-left: var(--indentSize);
}

ol.subsectionNumbering li:before {
    content: counter(section) '.' counter(item) '.';
    counter-increment: item;
    display: inline-block;
    position: relative;
    margin-left: calc(-1 * var(--paddingSize));
    width: calc(var(--paddingSize) - 0.25rem);
}

ol.subsectionNumbering li > p:first-child {
    display: contents;
}

ol.subsectionNumbering li ol {
    counter-reset: item;
    margin-left: var(--indentSize);
}

ol.subsectionNumbering li ol li:before {
    content: '(' counter(item, lower-alpha) ')';
    counter-increment: item;
    display: inline-block;
    position: relative;
    margin-left: calc(-1 * var(--paddingSize));
    width: calc(var(--paddingSize) - 0.25rem);
}