
.container :global h1 {
    @apply text-2xl font-bold;
    font-variant: small-caps;
}

.container :global h2 {
    @apply text-xl font-bold;
    font-variant: small-caps;
}

.container :global h3 {
    @apply text-lg font-bold;
    font-variant: small-caps;
}

.container :global a {
    @apply text-blue-700 dark:text-blue-400 underline;
}
.container :global p {
    @apply my-4;
}
.container :global ol {
    @apply my-4 ml-6 list-decimal;
}
.container :global li {
    @apply my-4;
}
.container :global ul {
    @apply my-4 ml-6 list-disc;
}
.container :global blockquote {
    @apply my-4 px-4 border-l-slate-500 border-l-4;
}
